@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App{
    font-family: "Poppins";
    background-color: black;
    
    
}
nav{
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    
    list-style: none;
    text-decoration: none;

}
nav:after{
    content: "";
    clear:both;
    display: table;
}
nav ul{
  float:right ;
  list-style: none;
  margin-right: 40px;
  
}
nav{
    display:grid;
    grid-template-columns: 0.2fr  1fr;
    
    
}
.nav-elements{
    align-items: right;
}
nav ul li{
    float: left;
    display: inline-block;
    margin: 0.5px;
    padding: 8px 20px;

}
.welcome{
    text-align: center;
    
    color: white;
    background-image: url(/public/backgi.svg);
    
    
    background-blend-mode:hue;
    background-repeat: no-repeat;
    background-position: center;
    
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a{
    color: white;
}
a:hover{
    color: yellow;
}
.Name,.Experience,.Skills,.Home,.Projects,.Courses,.Blog,.Resume,.Contact{
    display: flex;
        align-items: center;
        justify-content: center;
}
.Name{
    font-weight: bolder;
    color: yellow
}
.welcome-text{
    padding: 5%;
    font-size:1.5cm;
    
}
.intro{
    padding-left: 6.4%;
    padding-right: 6.4%;
    padding-bottom: 2%;
    color: white;
}
.Hello{
    color: yellow;
}
.Main{
    padding-left: 6.4%;
    padding-right: 6.4%;
    padding-bottom: 2%;
    color: white;
}
.blog-color{
    color:yellow;
}
.Main-1st-color,.Main-2nd-color{
    color:yellow;
}

@media screen and (max-width: 480px){
    .App{
        .checkbtn{
            display:block;
            top:10px;
            position:relative;
            font-size: 4rem;
    
        }
        ul{
            position:fixed;
            width:100%;
            height:100vh;
            background: #ffffff;
            border:3px solid rgb(6, 182, 35);
            top:80px;
            left:-100%;
            text-align:center;
            transition:all .5s;
            z-index: 50;
            
        }
        nav ul li{
            display:block;
            left:0;
            
    
        }
        nav ul li a{
            font-size:20px;
    
        }
        a:hover,a.active{
            background: none;
        }
    }
}